{% extends 'base.html' %}
{% load static %}

{% block title %} about {% endblock %}

{% block content %}
{% csrf_token %}
<html >
  <head>


    <link rel="stylesheet" href="{% static 'site/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'site/About.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'site/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'site/nicepage.js' %}" defer=""></script>

  </head>
  <body class="u-body u-image" style="background-position: 50% 50%; background-image: url({% static 'site/images/pexels-photo-1797418.jpeg' %});">
    <section class="u-align-center u-clearfix u-section-1" id="sec-76aa">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">

            <h1 class="u-text u-text-1"> A propos de nous </h1>
            <h2 class="u-text u-text-1"> La puissance de gestion des projets </h2>
            <p class="u-text u-text-2">Mettre en place la gestion de projet en entreprise permet avant tout de gagner en efficacité et en productivité. Et si vos collaborateurs sont plus efficaces, votre entreprise atteindra beaucoup plus facilement les objectifs qu’elle se fixe chaque année. Sans compter que vous faciliterez le travail de vos collaborateurs ; Plus à l’aise dans leurs tâches quotidiennes, ils seront plus motivés et donneront le meilleur d’eux-mêmes.</p>
            <p class="u-text u-text-2"> Notre mission est de libérer le potentiel de toutes les équipes et permettre une bonne communication entre les services extérieur et la province</p>

          </div>
        </div>
      </div>
    </section>

  </body>
</html>
  {% endblock %}