{% extends "base.html" %}
{% load static %}

{% block title %} Change password {% endblock %}
{% block content %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'projet/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>




<div class="wrapper">
  <div class="title">
      Changer mot de passe
    </div>
  <form method="POST" class="form-signin">
    {% csrf_token %}
        <div class="form" >
           <div class="inputfield">
             <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
           </div>


           <div class="inputfield">
             <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
             </div>


           <div class="inputfield">
             <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
             </div>


        {% for field in form %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        {% endfor %}

          <div class="inputfield">
            <input type="submit" value="Envoyer" class="btn">
          </div>
        </div>
  </form>
</div>



{% endblock %}