{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Profile {% endblock %}


{% block content %}
<html>
<head>

	<link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>

	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}


		<div class="container">

			<div class="contact-box">
				<div class="left">
					<img class="rounded-circle mx-auto d-block" src="{{ user.profile.image.url }}" style="margin:auto; height:200px;">
					<br>

                    {{ p_form|crispy }}

				</div>
				<div class="right">
					<h2>Informations personnelles</h2>

					{{ u_form|crispy }}

					<a href="{% url 'account:password_change' %}" class="txt2 bo1 m-l-5">	change password </a>
					<br>
					<br>
					<button class="btn">Send</button>
					<hr>

					{% for message in messages %}
					<center>
						<p style="color:#28A853;">{{ message }}</p>
					</center>
				{% endfor %}
				</div>
			</div>
		</div>
	</form>
</body>
</html>
{% endblock %}